<tr id="article_<%= article.id %>">
  <td><%= article.title %></td>
  <td><%= article.description %></td>
  <td><%= link_to 'Show', article, class: "btn btn-info", remote: true %></td>
  <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-info", remote: true %></td>
  <td><%= link_to 'Destroy', article, method: :delete, remote: true, class: "btn btn-info" %></td>
</tr> 